* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid white; */
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
button {
    color: #E5E7EB;
    background-color: #3882F6;
}
.navy-back {
    color: #F9FAF8;
    background-color: #1F2937;
}
.site-header{
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.header-logo {
    font-size: 24px;
    font-weight: bold;
    
}
.header-links {
    font-size: 15px;
}
.top-container{
    padding: 5%;
    display: flex;
    justify-content: center;

}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    justify-content: center;
}
.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}
.yellow-building {
    width: 50%;
    height: auto;
    justify-content: end;
}
.random-info {
    background-color: white;
    border: 1px solid red;
}