* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
}

a {
  color: #e5e7eb;
  text-decoration: none;
}
a:hover {
  color: #cacbce;
}

button {
  padding: 3px 13px;
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px 5px black;
  background-color: #2375f8;
}

.navy-back {
  color: #f9faf8;
  background-color: #1f2937;
}

.site-header-wrapper {
  padding-top: 1.1%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  padding-left: 5%;
}

.header-links {
  font-size: 15px;
  padding-right: 5%;
}

.top-container {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
}

.hero-sec {
  font-size: 18px;
  color: #e5e7eb;
}

.yellow-building {
  width: 50%;
  height: auto;
  max-width: 650px;
}

.random-info {
  background-color: white;
  border: 1px solid red;
  padding-top: 40px;
  padding-bottom: 100px;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: space-around;
}
.info-cubes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid red;
}
.box {
  border: 3px solid green;
}
.box-img {
  border: 5px solid #3882f6;
  border-radius: 8px;
  height: 150px;
  width: 150px;
}
